/* Style */
/* CSS reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* debug */
.debug .box {
    background-color: red;
}

/* variabili */
:root {
    --header-bgcolor: #2c3e50;
    --secondary-color: #1abc9c;
    --white-color: #fff;
}


/* Regole CSS generali */
html{
    font-family: sans-serif;
}

.ms_bg_primary {
    background-color: var(--header-bgcolor);
}
.ms_c_white {
    color: var(--white-color);
}

#jumbotron {
    background-color: var(--secondary-color);
    padding: 80px 0 20px 0;
}

#about {
    background-color: var(--secondary-color);
    padding: 50px 0;
}